---
import H1 from "../../components/H1.astro";
import Layout from "../../layouts/Layout.astro";
import Main from "../../components/Main.astro";
import H2 from "../../components/H2.astro";
import H3 from "../../components/H3.astro";
import ContentContainer from "../../components/ContentContainer.astro";
import SportsBox from "../../components/competitions/SportsBox.astro";
import Pill from "../../components/competitions/Pill.astro";

const boxStyles =
  "w-full h-full p-6 rounded-3xl sm:mx-auto sm:rounded-2xl max-w-sm max-h-fit";
---

<Layout title="The Gathering - E-Sport konkurranser">
  <Main>
    <ContentContainer>
      <H1 text="E-Sport konkurranser" />

      <div class="space-y-6 flex flex-col xl:flex-row justify-between">
        <!-- Intro / practical info block -->
        <section
          class="prose prose-strong:text-white text-white max-w-2xl pr-0 md:pr-10"
        >
          <H2 text="Klar for å kjempe om premier?" />
          <p>
            Er du klar for å konkurrere i de mest spennende og intense
            turneringene innen gaming? På The Gathering arrangerer vi en rekke
            turneringer i noen av verdens mest populære spill! Uansett om du er
            en erfaren spiller eller ny i e-sportens verden, vil våre
            turneringer gi deg muligheten til å teste ferdighetene dine,
            samarbeide med laget ditt, og kanskje til og med vinne fantastiske
            premier!
          </p>

          <H3>Praktisk informasjon</H3>
          <p>
            <Pill text="Egen maskin" color="orange" class="mr-2" />
            De fleste turneringene er BYOC (Bring Your Own Computer), noe som betyr
            at du må ta med deg din egen datamaskin for å kunne delta.
          </p>
          <p>
            <Pill text="I skipet" color="blue" class="mr-2" />
            Du må, som regel, også være på plass på The Gathering for å kunne delta
            i turneringene.
          </p>
        </section>

        <!-- Cards grid -->
        <div class="grid grid-cols-1 md:grid-cols-2 md:grid-rows-2 gap-6 px-4">
          <SportsBox
            title="Valorant"
            class={`${boxStyles} bg-background-secondary text-white prose`}
            url="https://www.gamer.no/turneringer/tg25-valorant/13485"
            urlText="Meld deg på her!"
            requiresTicket
            byoc
          >
            <p class="m-0 opacity-80"></p>
          </SportsBox>

          <SportsBox
            title="Counter-Strike 2"
            class={`${boxStyles} bg-background-secondary text-white prose`}
            url="https://www.challengermode.com/s/TheGathering/tournaments/a331c7ba-67d0-4447-f532-08dbc34f38a0"
            urlText="Meld deg på her!"
            requiresTicket
            byoc
          >
            <p class="m-0 opacity-80"></p>
          </SportsBox>

          <SportsBox
            title="League of Legends"
            class={`${boxStyles} bg-background-secondary text-white prose`}
            url="https://www.gamer.no/turneringer/tg25-league-of-legends/13480"
            urlText="Meld deg på her!"
            requiresTicket
            byoc
          >
            <p class="m-0 opacity-80"></p>
          </SportsBox>

          <SportsBox
            title="Rocket League"
            class={`${boxStyles} bg-background-secondary text-white prose`}
            url="https://www.gamer.no/turneringer/tg25-rocket-league/13479"
            urlText="Meld deg på her!"
            requiresTicket
            byoc
          >
            <p class="m-0 opacity-80"></p>
          </SportsBox>
        </div>
      </div>
    </ContentContainer>
  </Main>
</Layout>
