---
import H1 from "../../components/H1.astro";
import Layout from "../../layouts/Layout.astro";
import Main from "../../components/Main.astro";
import H2 from "../../components/H2.astro";
import H3 from "../../components/H3.astro";
import ContentContainer from "../../components/ContentContainer.astro";
import TicketBox from "../../components/tickets/TicketBox.astro";
import ReservationGuideBox from "../../components/tickets/ReservationGuideBox.astro";
import Button from "../../components/Button.astro";

const boxStyles = [
  "p-6",
  "rounded-3xl",
  "sm:mx-auto",
  "sm:rounded-2xl",
  "sm:w-full",
];

const jsonLd = {
  "@context": "https://schema.org",
  "@type": "Event",
  name: "The Gathering 2026",
  startDate: "2026-04-01",
  endDate: "2026-04-05",
  eventAttendanceMode: "https://schema.org/OfflineEventAttendanceMode",
  eventStatus: "https://schema.org/EventScheduled",
  location: {
    "@type": "Place",
    name: "Vikingskipet",
    address: {
      "@type": "PostalAddress",
      streetAddress: "Åkersvikvegen 1",
      addressLocality: "Hamar",
      postalCode: "2321",
      addressRegion: "Innlandet",
      addressCountry: "NO",
    },
  },
  description:
    "The Gathering er Norges største dataparty - Fem uforglemmelige dager i norges feteste påskehytte!",
  organizer: {
    "@type": "Organization",
    name: "KANDU",
    url: "https://www.kandu.no",
  },
};
---

<Layout
  title="The Gathering - Billetter"
  jsonLd={jsonLd}
  description="Opplev Norges største dataparty! Kjøp din billett til The Gathering 2026 og bli med på en uke full av spennende aktiviteter, konkurranser og moro."
>
  <Main>
    <ContentContainer>
      <H1
        text="Velkommen til The Gathering 2026 – Sikre deg din billett i dag!"
      />
      <div class="grid grid-cols-1 sm:grid-cols-7 gap-x-4 gap-y-10">
        <div class="sm:col-start-1 sm:col-span-4">
          <section class="prose prose-strong:text-foreground">
            <H2 text="Opplev Norges største dataparty!" />
            <p>
              The Gathering (TG) er et av de største arrangementene for gaming,
              kreativitet og teknologi i Norge. Uansett om du er gamer,
              utvikler, kreativ skaper eller bare nysgjerrig på den digitale
              verdenen, er TG stedet for deg. Samle deg med 2000 deltakere for
              en uke full av spennende aktiviteter, konkurranser og moro.
            </p>
            <p>
              <strong
                >Kjøp din billett i dag og bli med på noe helt unikt!</strong
              >
            </p>
          </section>
          <Button
            href="https://www.geekevents.org/tg26/#/shop"
            variant="wide"
            class="mt-6"
            theme="orange">Kjøp billett på Geekevents</Button
          >
        </div>
        <section
          class={`${boxStyles.join(" ")} sm:col-span-4 bg-orange-500 prose-a:text-black`}
        >
          <ReservationGuideBox />
        </section>
        <section
          class={`${boxStyles.join(" ")} sm:col-span-3 bg-sky-400 text-black prose prose-headings:text-black sm:h-min`}
        >
          <H3>Viktige datoer</H3>
          <p>
            Hold øye med de følgende datoene for å sikre deg billetter og de
            setene du ønsker på The Gathering 2026:
          </p>
          <ul class="marker:text-black">
            <li class="font-bold">
              1. Desember, 13:37 - Billettsalget&nbsp;åpnet
            </li>
            <li class="text-xs">12. Mars - Setereservasjon åpner</li>
            <li class="text-xs">18. Mars - Forhåndsinnsjekk åpner</li>
            <li class="text-xs">29. Mars - Setereservasjon stenger</li>
            <li class="text-xs">1. April - Dørene åpner</li>
          </ul>
        </section>
        <section
          class={`${boxStyles.join(" ")} sm:col-start-1 sm:col-span-7 bg-sky-400`}
        >
          <H3 color="text-black">Billettypene for TG 2026</H3>
          <p>
            Vi tilbyr ulike billettyper for å tilpasse ditt behov. Velg den som
            passer deg best:
          </p>
          <div class="grid sm:grid-cols-2 md:grid-cols-3 gap-4 mt-6">
            <TicketBox
              name="LANpass"
              timespan="til hele arrangementet"
              price={1690}
              class="md:col-span-2 min-w-full border-8 border-sky-800"
            >
              <p>
                Gir deg tilgang til hele eventet fra start til slutt. Dette er
                den vanlige deltakerbillett for deg som vil ha en sitteplass med
                120 cm under hele arrangementet. Du kan delta i alle
                konkurranser med denne billetten.
              </p>
            </TicketBox>
            <TicketBox
              name="LANpass, 2 dagers"
              timespan="Onsdag til Fredag eller Fredag til Søndag"
              price={1049}
            >
              <p>
                Dette er en deltakerbillett for deg som ikke har tid eller
                mulighet til å delta på hele partyet, men vil allikevel få med
                deg to dager. Det vil være egne rader satt av for dette, du kan
                altså ikke sitte med venner som har ordinære LANpass.
              </p>
              <p>
                Du kan delta i alle konkurranser med denne billetten, men merk
                at enkelte konkurranser kan kreve at du er tilstede på The
                Gathering til gitte tidspunkter.
              </p>
            </TicketBox>
            <TicketBox
              name="EXPOpass - Ukespass"
              timespan="til hele arrangementet"
              price={{
                adult: 899,
                child: 399,
              }}
              seatless
            >
              <li slot="additional-features">
                Kan ikke delta i de offisielle konkurranser som er under <a
                  href="/competitions/creative">Kreative</a
                >
                og <a href="/competitions/esport">E-sport</a> på TG.no
              </li>
              <p>
                Besøksbilett til arrangementet hele uken uten sitteplass. Du kan
                oppholde deg i skipet både dag og natt, inkludert overnatting i
                det dedikerte soveområdet.
              </p>
              <p>Kan kun delta i mindre konkurranser og turneringer.</p>
            </TicketBox>
            <TicketBox
              name="EXPOpass - Dagsbilett"
              timespan="til den dagen billetten benyttes"
              price={{
                adult: 299,
                child: 99,
              }}
              seatless
            >
              <li slot="additional-features">
                Kan ikke delta i de offisielle konkurranser som er under <a
                  href="/competitions/creative">Kreative</a
                >
                og <a href="/competitions/esport">E-sport</a> på TG.no
              </li>
              <p>
                1-dags besøksbilett til arrangementet uten sitteplass. Inngang
                er gyldig frem til dagsprogrammet er ferdig for dagen. Gir ikke
                tilgang til overnattingsområdet.
              </p>
              <p>Kan kun delta i mindre konkurranser og turneringer.</p>
            </TicketBox>
            <TicketBox
              name="Ledsagerbillett"
              timespan="på lik linje som deltakeren du følger"
              price={99}
              seatless
              kanduless
            >
              <li slot="additional-features">
                Er kun tilgjengelig for personer med gyldig ledsagerbevis
              </li>
            </TicketBox>
          </div>
        </section>
        <section
          class={`${boxStyles.join(" ")} min-w-full sm:col-span-7 sm:col-start-1 bg-orange-500 sm:h-min`}
        >
          <H3 color="text-black">Tilleggsprodukter</H3>
          <div class="grid sm:grid-cols-2 md:grid-cols-3 gap-4 mt-6">
            <TicketBox name="Collectors Bundle" price={1090} variant="product">
              <span slot="features"></span>
              <p>
                La TG26-minnene leve videre etter påsken! Denne pakken gir deg
                de ultimate samleobjektene til en rabattert pris enn om du
                kjøper produktene hver for seg!
              </p>
              <p>Pakken inneholder:</p>
              <ul>
                <li>Genser med TG-logo</li>
                <li>Musematte med årets design</li>
                <li>T-skjorte med årets design</li>
                <li>TG-brandet håndkle</li>
                <li>Badge og lanyard med årets design</li>
              </ul>
            </TicketBox>
            <TicketBox name="Frokostpakke" price={299} variant="product">
              <p slot="features" class="text-xs bg-black/15 rounded-md p-4">
                Glutenfrie alternativer finnes.
              </p>
              <p>
                Få tilgang til et utvalg av ferske, nysmurte baguetter og
                ciabatta under TG. Frokostpakken hentes i TG-Shoppen mellom
                09:30-11:30 (torsdag, fredag og lørdag).
              </p>
              <p>Velg mellom</p>

              <ul>
                <li>
                  Nysmurte baguetter med ost og skinke eller brie og salami.
                </li>
                <li>En digg ciabatta med kyllingsalat.</li>
              </ul>

              <p>
                Du får også én 0,5l utvalgt drikke til alle måltider, samt én
                frukt.
              </p>
            </TicketBox>
            <TicketBox name="Premiumparkering" price={690} variant="product">
              <span slot="features"></span>
              <p>
                Parker bilen på parkeringsplassen rett ved hovedinngangen.
                Perfekt for deg som ønsker rask og enkel tilgang til bilen din.
                <br />
                <em
                  >Merk: Du må sjekke inn og få utlevert dine billetter før du
                  får tilgang til parkeringsplassen din.</em
                >
              </p>
            </TicketBox>
            <TicketBox
              name="Premium Supporter Bundle"
              price={15000}
              variant="product"
              class="md:col-span-3 min-w-full border-8 border-orange-800"
            >
              <span slot="features"></span>
              <p>
                For deg som vil ha den ultimate TG-opplevelsen, men også ønsker
                å støtte The Gathering.
              </p>
              <p>Du får</p>

              <ul>
                <li>
                  Overnatting for én person (eget hotellrom på <a
                    href="https://www.scandichotels.com/no/hotell/scandic-hamar"
                    target="_blank"
                  >
                    Scandic Hamar</a
                  >)
                </li>
                <li>Eksklusiv merch-pakke</li>
                <li>Express-innsjekk</li>
                <li>Frokostpakke hver morgen i skipet, levert til din plass</li>
                <li>Privat parkeringsplass ved inngangen</li>
                <li>Mat- og drikkebonger</li>
                <li>Kveldssnacks fra shoppen</li>
                <li>Andre overraskelser</li>
              </ul>
            </TicketBox>
          </div>
        </section>
        <section
          class={`${boxStyles.join(" ")} sm:col-start-3 sm:col-span-3 bg-orange-500 text-white mb-5`}
        >
          <H3 color="text-white">Hva venter du på?</H3>
          <p>Kjøp din billett i dag og bli med på noe helt unikt!</p>
          <Button
            href="https://support.gathering.org/help/no-no"
            class="mt-4 border border-white"
            variant="wide"
            theme="orange">Få svar på det du lurer på i FAQen</Button
          >
          <Button
            href="https://www.geekevents.org/tg26/#/shop"
            class="mt-2"
            variant="wide"
            theme="white">Kjøp billett på Geekevents</Button
          >
        </section>
      </div>
    </ContentContainer>
  </Main>
</Layout>
