---
import H1 from "../../components/H1.astro";
import Layout from "../../layouts/Layout.astro";
import Main from "../../components/Main.astro";
import H2 from "../../components/H2.astro";
import H3 from "../../components/H3.astro";
import ContentContainer from "../../components/ContentContainer.astro";
import TicketBox from "../../components/tickets/TicketBox.astro";

const boxStyles = [
  "p-6",
  "rounded-3xl",
  "sm:mx-auto",
  "sm:rounded-2xl",
  "sm:w-full",
];
const buttonStyles =
  "block px-4 py-2 rounded-full content-center text-decoration-none text-center";

const jsonLd = {
  "@context": "https://schema.org",
  "@type": "Event",
  name: "The Gathering 2025",
  startDate: "2025-04-16",
  endDate: "2025-04-20",
  eventAttendanceMode: "https://schema.org/OfflineEventAttendanceMode",
  eventStatus: "https://schema.org/EventScheduled",
  location: {
    "@type": "Place",
    name: "Vikingskipet",
    address: {
      "@type": "PostalAddress",
      streetAddress: "Åkersvikvegen 1",
      addressLocality: "Hamar",
      postalCode: "2321",
      addressRegion: "Innlandet",
      addressCountry: "NO",
    },
  },
  description:
    "The Gathering er Norges største dataparty - Fem uforglemmelige dager i norges feteste påskehytte!",
  organizer: {
    "@type": "Organization",
    name: "KANDU",
    url: "https://www.kandu.no",
  },
};
---

<Layout title="The Gathering - Billetter" jsonLd={jsonLd}>
  <Main>
    <ContentContainer>
      <H1
        text="Velkommen til The Gathering 2025 – Sikre deg din billett i dag!"
      />
      <div class="grid grid-cols-1 sm:grid-cols-7 gap-x-4 gap-y-10">
        <div class="sm:col-start-1 sm:col-span-4">
          <section class="prose prose-strong:text-white">
            <H2 text="Opplev Norges største dataparty!" />
            <p>
              The Gathering (TG) er et av de største arrangementene for gaming,
              kreativitet og teknologi i Norge. Uansett om du er gamer,
              utvikler, kreativ skaper eller bare nysgjerrig på den digitale
              verdenen, er TG stedet for deg. Samle deg med 2000 deltakere for
              en uke full av spennende aktiviteter, konkurranser og moro.
            </p>
            <p>
              <strong
                >Kjøp din billett i dag og bli med på noe helt unikt!</strong
              >
            </p>
          </section>
          <a
            class={`${buttonStyles} mt-6 border border-orange-500 bg-orange-500 text-black hover:bg-orange-200 hover:text-black`}
            href="https://www.geekevents.org/tg25/#/shop"
            target="_blank">Kjøp billett på GeekEvents</a
          >
        </div>
        <section
          class={`${boxStyles.join(" ")} sm:col-start-5 sm:col-span-3 bg-blue-400 text-black prose prose-headings:text-black sm:mt-40`}
        >
          <H3>Viktige datoer for billettkjøp</H3>
          <p>
            Hold øye med de følgende datoene for å sikre deg billetter til The
            Gathering 2025:
          </p>
          <ul>
            <li>21. Oktober - Køsystemet åpner på Geekevents</li>
            <li>3. November - Køsystemet stenger</li>
            <li class="font-bold">4. November - Billettsalget åpner</li>
          </ul>
          <p>
            Senere i år: Ledsager- og besøkende billetter lanseres (følg med for
            mer informasjon).
          </p>
        </section>
        <section
          class={`${boxStyles.join(" ")} sm:col-start-2 sm:col-span-4 bg-orange-500 `}
        >
          <div class="prose prose-headings:text-black text-black">
            <H3>Hvordan fungerer køsystemet?</H3>
            <p>
              For å sikre en rettferdig billettsalgsprosess har vi valgt å
              gjeninnføre køsystemet basert på tilbakemeldinger fra tidligere
              deltakere. Her er hvordan det fungerer:
            </p>
            <ul>
              <li>
                <strong>Påmelding til køen:</strong> Registrer deg innen søndag 3.
                november for å få en tildelt plass i køen.
              </li>
              <li>
                <strong>Tildeling av kønummer:</strong> Mandag 4. november får du
                et tilfeldig kønummer, som du mottar via SMS og e-post.
              </li>
              <li>
                <strong>Billettsalget åpner:</strong> 4. november kl. 12.00 starter
                billettsalget og når det er din tur, får du en SMS og 72 timer på
                å kjøpe billetter. (du kan fortsatt stille deg i kø, men du blir
                plassert bakerst)
              </li>
            </ul>
          </div>
        </section>
        <section
          class={`${boxStyles.join(" ")} sm:col-start-1 sm:col-span-7 bg-blue-500`}
        >
          <H3>Billettypene for TG 2025</H3>
          <p>
            Vi tilbyr ulike billettyper for å tilpasse ditt behov. Velg den som
            passer deg best:
          </p>
          <div class="grid sm:grid-cols-2 md:grid-cols-3 gap-4 mt-6">
            <TicketBox
              name="LANpass"
              timespan="til hele arrangementet"
              price={1590}
            >
              <p>
                Gir deg tilgang til hele eventet fra start til slutt. Dette er
                den vanlige deltakerbillett for deg som vil ha en sitteplass med
                120 cm under hele arrangementet. Du kan delta i alle
                konkurranser med denne billetten.
              </p>
            </TicketBox>
            <TicketBox
              name="LANpass 1337 Edition"
              timespan="til hele arrangementet"
              price={1337}
            >
              <p>
                Sikre deg en ekstra god pris på LANpass! Kun 20 av disse er
                tilgjengelig
              </p>
              <div
                class="absolute -top-2 md:-top-5 left-1/2 transform -translate-x-1/2 text-center text-white bg-orange-500 rounded-full px-5 py-1 font-semibold"
              >
                Utsolgt!
              </div>
            </TicketBox>
            <TicketBox
              name="LANpass, 2 dagers"
              timespan="Onsdag til Fredag eller Fredag til Søndag"
              price={999}
            >
              <p>
                Dette er en deltakerbillett for deg som ikke har tid eller
                mulighet til å delta på hele partyet, men vil allikevel få med
                deg to dager. Det vil være egne rader satt av for dette, du kan
                altså ikke sitte med venner som har ordinære LANpass.
              </p>
              <p>
                Du kan delta i alle konkurranser med denne billetten, men merk
                at enkelte konkurranser kan kreve at du er tilstede på The
                Gathering til gitte tidspunkter.
              </p>
            </TicketBox>
            <TicketBox
              name="EXPOpass - Ukespass (Barn)"
              timespan="til hele arrangementet"
              price={349}
              seatless
            >
              <p>
                <strong>Denne billetter gjelder for barn under 16år.</strong>
              </p>
              <p>
                Besøksbilett til arrangementet hele uken uten sitteplass. Du kan
                oppholde deg i skipet både dag og natt, inkludert overnatting i
                det dedikerte soveområdet.
              </p>
              <p>
                Kan delta i mindre konkurranser og turneringer. <br />
                Kan ikke delta i de offisielle konkurranser som er under Kreative
                og E-sport på TG.no
              </p>
            </TicketBox>
            <TicketBox
              name="EXPOpass - Ukespass (Voksen)"
              timespan="til hele arrangementet"
              price={849}
              seatless
            >
              <p>
                Besøksbilett til arrangementet hele uken uten sitteplass. Du kan
                oppholde deg i skipet både dag og natt, inkludert overnatting i
                det dedikerte soveområdet.
              </p>
              <p>
                Kan delta i mindre konkurranser og turneringer. <br />
                Kan ikke delta i de offisielle konkurranser som er under Kreative
                og E-sport på TG.no
              </p>
            </TicketBox>
            <TicketBox
              name="COSPLAYpass"
              timespan="til arrangementet på lørdag"
              price={299}
              seatless
            >
              <p>
                Gir tilgang til arrangementet på lørdag og mulighet for
                deltakelse i vår cosplay konkurranse.
              </p>
              <p>
                Inngang er gyldig frem til dagsprogrammet er ferdig for dagen.
                Gir ikke tilgang til overnattingsområdet.
              </p>
              <p>
                Kan delta i mindre konkurranser og turneringer. <br />
                Kan ikke delta i de offisielle konkurranser som er under Kreative
                og E-sport på TG.no
              </p>
            </TicketBox>
            <TicketBox
              name="EXPOpass - Dagsbilett (Barn)"
              timespan="til den dagen du billetten kjøpes for"
              price={99}
              seatless
            >
              <p>
                <strong>Denne billetter gjelder for barn under 16år.</strong>
              </p>
              <p>
                1-dags besøksbilett til arrangementet uten sitteplass. Inngang
                er gyldig frem til dagsprogrammet er ferdig for dagen. Gir ikke
                tilgang til overnattingsområdet.
              </p>
              <p>
                Kan delta i mindre konkurranser og turneringer. <br />
                Kan ikke delta i de offisielle konkurranser som er under Kreative
                og E-sport på TG.no
              </p>
            </TicketBox>
            <TicketBox
              name="EXPOpass - Dagsbilett  (Voksen)"
              timespan="til den dagen du billetten kjøpes for"
              price={249}
              seatless
            >
              <p>
                1-dags besøksbilett til arrangementet uten sitteplass. Inngang
                er gyldig frem til dagsprogrammet er ferdig for dagen. Gir ikke
                tilgang til overnattingsområdet.
              </p>
              <p>
                Kan delta i mindre konkurranser og turneringer. <br />
                Kan ikke delta i de offisielle konkurranser som er under Kreative
                og E-sport på TG.no
              </p>
            </TicketBox>
            <TicketBox
              name="Ledsagerbillett"
              timespan="på lik linje som deltakeren du følger"
              price={99}
              seatless
            >
              <p>
                <em>
                  Er kun tilgjengelig for personer med gyldig ledsagerbevis
                </em>
              </p>
            </TicketBox>
          </div>
        </section>
        <section
          class={`${boxStyles.join(" ")} sm:col-start-3 sm:col-span-3 bg-orange-500 text-black mb-5`}
        >
          <H3>Hva venter du på?</H3>
          <p>Kjøp din billett i dag og bli med på noe helt unikt!</p>
          <a
            class={`${buttonStyles} mt-4 bg-transparent border border-white hover:bg-black/10`}
            href="https://support.gathering.org/help/no-no"
            target="_blank">Få svar på det du lurer på i FAQen</a
          >
          <a
            class={`${buttonStyles} mt-2 bg-white border border-white text-black hover:bg-white/70 hover:text-black`}
            href="https://www.geekevents.org/tg25/#/shop"
            target="_blank">Kjøp billett på GeekEvents</a
          >
        </section>
      </div>
    </ContentContainer>
  </Main>
</Layout>
