---
import CloseSymbol from "../icons/CloseSymbol.astro";
import FilterCloseSymbol from "../icons/FilterCloseSymbol.astro";

export interface ActiveFilter {
  name: string;
  slug: string;
  url: string;
  required?: boolean;
  color?: string;
}

interface Props {
  activeFilters: ActiveFilter[];
  resetUrl?: string;
}

const { activeFilters, resetUrl } = Astro.props;
const optionalFilters = activeFilters.filter(
  ({ required }) => !required,
).length;
---

{
  activeFilters.length ? (
    <div class="flex flex-row flex-wrap gap-2 mt-4">
      {activeFilters.map(({ name, required, url, color }) => (
        <a
          href={url}
          class={`flex flex-row items-center gap-2 py-1 px-2 rounded-md text-md ${color ? "bg-" + color + "-500 text-black" : "border border-foreground text-foreground"} hover:bg-foreground hover:text-foreground-contrast`}
        >
          {name}
          {!required ? <CloseSymbol /> : null}
        </a>
      ))}
      {resetUrl && optionalFilters ? (
        <a
          href={resetUrl}
          class="flex flex-row items-center gap-2 py-1 px-2 rounded-md text-md bg-orange-500 text-black hover:bg-foreground hover:text-background-secondary"
        >
          <FilterCloseSymbol />
        </a>
      ) : null}
    </div>
  ) : null
}
