---
import H3 from "../H3.astro";

type Props = {
  date: string;
};

const { date } = Astro.props;
let weekday = new Date(date).toLocaleDateString("no-NO", {
  weekday: "long",
});
weekday = weekday.charAt(0).toUpperCase() + weekday.slice(1);
---

<H3>
  <time
    datetime={date}
    class="text-3xl flex flex-row gap-3 items-center mb-4 mt-8"
  >
    {weekday}
    <span class="flex border border-white rounded-2xl w-full h-4"></span>
  </time>
</H3>
