# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for all configuration options:
# https://docs.github.com/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file

version: 2
updates:
  - package-ecosystem: "npm" # pnpm is supported indirectly via npm
    directory: "/"
    schedule:
      interval: "weekly"
      day: "wednesday"
      time: "16:00"
      timezone: "CET"

    open-pull-requests-limit: 5

    groups:
      astro:
        patterns:
          - "astro"
          - "@astrojs/*"
          - "astro*"
      tailwind:
        patterns:
          - "tailwindcss"
          - "@tailwindcss/*"
      typescript:
        patterns:
          - "typescript"
          - "@types/*"
      tooling:
        dependency-type: "development"
      catch-all:
        patterns:
          - "*"

    labels:
      - "dependencies"
      - "dependabot"
