---
import Button from "../../Button.astro";
import {
  getTailwindColorByCategory,
  type CreativeCategory,
} from "../../../utils";

export type Action = {
  label: string;
  url: string;
};

export interface Props {
  children?: any;
  class?: string;
  category?: CreativeCategory;
  actions?: Array<Action>;
}

const { class: classNames, category, actions } = Astro.props;

const primaryColor = category
  ? getTailwindColorByCategory(category)
  : "bg-background-secondary";
---

<section
  class={`flex flex-col gap-4 ${primaryColor} p-6 rounded-3xl sm:rounded-2xl w-full ${classNames}`}
>
  <span>
    <slot />
  </span>
  {
    actions?.map(
      (action) =>
        action?.url && (
          <Button
            href={action.url}
            variant="wide"
            theme="transparent"
            class="mt-auto"
          >
            {action.label}
          </Button>
        ),
    )
  }
</section>
