---
import Button from "../../Button.astro";
import { getTailwindColorByCategory, type Competition } from "../../../utils";

export interface Props {
  children?: any;
  class?: string;
  category?: Competition["category"];
  action?: {
    label: string;
    url: string;
  };
}

const { class: classNames, category, action } = Astro.props;

const primaryColor = category
  ? getTailwindColorByCategory(category)
  : "bg-background-secondary";
---

<section
  class={`flex flex-col gap-4 ${primaryColor} p-6 rounded-3xl sm:rounded-2xl w-full ${classNames}`}
>
  <span>
    <slot />
  </span>
  {
    action?.url && (
      <Button
        href={action.url}
        variant="wide"
        theme="transparent"
        class="mt-auto"
      >
        {action.label}
      </Button>
    )
  }
</section>
