---
import Main from "../../../components/Main.astro";
import ContentContainer from "../../../components/ContentContainer.astro";
import Layout from "../../../layouts/Layout.astro";
import { fetchCompetitionBySlug } from "../../../utils";
import CompetitionBox from "../../../components/competitions/creative/CompetitionBox.astro";
import CreativeBox from "../../../components/competitions/creative/CreativeBox.astro";
import ResponsiveImage from "../../../components/ResponsiveImage.astro";
import { API_URL } from "../../../utils/runtime-env";

const competition = await fetchCompetitionBySlug({
  slug: "cosplay",
  api_url: API_URL,
});

if (!competition) {
  return Astro.rewrite("/404");
}
---

<Layout
  title=`The Gathering - ${competition.name} konkurranse`
  description=`${competition.description || competition.name}`
  search_description=`${competition.description || competition.name}`
>
  <Main>
    <ContentContainer variant="wide">
      <a
        href="/competitions/creative"
        class="flex text-sm text-gray-500 hover:text-gray-700 mb-4"
      >
        &larr; Se de andre kreative konkurransene
      </a>
      <div class="grid grid-cols-1 sm:grid-cols-3 lg:grid-cols-4 gap-4">
        <div
          class="sm:col-span-3 lg:col-span-4 relative rounded-2xl overflow-hidden h-64 lg:h-96"
        >
          <ResponsiveImage
            class="object-cover w-full sm:absolute sm:top-0 sm:left-0 h-full"
            image={{
              title: "TG25_1904_FOTO-CELINE-BERNTSEN-00556",
              alt: "TG25_1904_FOTO-CELINE-BERNTSEN-00556",
              sizes: {
                thumbnail: {
                  url: "https://www.tg.no/media/images/TG25_1904_FOTO-CELINE-BERNTSEN-005.2e16d0ba.fill-150x150.jpg",
                  width: 150,
                  height: 150,
                },
                small: {
                  url: "https://www.tg.no/media/images/TG25_1904_FOTO-CELINE-BERNTSEN-00556.max-300x300.jpg",
                  width: 300,
                  height: 200,
                },
                medium: {
                  url: "https://www.tg.no/media/images/TG25_1904_FOTO-CELINE-BERNTSEN-00556.max-700x700.jpg",
                  width: 700,
                  height: 466,
                },
                large: {
                  url: "https://www.tg.no/media/images/TG25_1904_FOTO-CELINE-BERNTSEN-00556.max-1600x1600.jpg",
                  width: 1600,
                  height: 1067,
                },
                extra_large: {
                  url: "https://www.tg.no/media/images/TG25_1904_FOTO-CELINE-BERNTSEN-00556.max-3200x3200.jpg",
                  width: 3200,
                  height: 2134,
                },
              },
              url: "https://www.tg.no/media/images/TG25_1904_FOTO-CELINE-BERNTSEN-00556.max-1600x1600.jpg",
            }}
          />
        </div>
        <aside class="lg:col-span-2 flex flex-col gap-4">
          <CreativeBox class="sm:row-span-2 sm:col-span-2 lg:col-span-2">
            <span class="prose prose-invert">
              <h2 class="mt-0 mb-6 text-4xl font-bold">
                Er du klar for å vise frem ditt cosplay under The Gathering
                RE:UNION?
              </h2>
              <p>
                <strong
                  >Bli en del av et fantastisk sceneshow der vi hedrer
                  kreativiteten, dyktigheten og lidenskapen til cosplayere!
                  Dette er en flott anledning for deg til å vise frem dine
                  kreative talenter og ha muligheten til å vinne virkelig fete
                  premier.
                </strong>
              </p>

              <p>
                The Gathering er glad for å annonsere et spennende samarbeid med
                Magicon, som skal heve cosplay-opplevelsen på årets arrangement.
              </p>

              <h2>Påmeldingen er nå åpen!</h2>
              <p>
                Meld deg på via <a href="https://forms.gle/cRykPVhNwVocKBUM6"
                  >dette påmeldingsskjemaet</a
                >. Påmeldingen åpnet 18:00, 16. Mars.
              </p>

              <p>
                Meld deg på nå for en sjangse til å imponere dommerne med både
                kostyme og opptreden den 4. april 2026!
              </p>

              <p>
                Husk at du må ha gyldig billett til The Gathering for å delta.
              </p>
              <img
                src="/tg26/magicon_logo.avif"
                alt="Magicon logo"
                class="w-48 my-4 float-right ml-4"
              />
            </span>
          </CreativeBox>
          <CompetitionBox
            {...competition}
            action={{
              label: "Meld deg på nå",
              url: "https://forms.gle/cRykPVhNwVocKBUM6",
            }}
          />
        </aside>
        <CreativeBox class="sm:row-span-2 sm:col-span-2 lg:col-span-2">
          <h2 class="mt-0 mb-6 text-4xl font-bold prose prose-invert">
            Regler
          </h2>
          <div class="prose prose-invert" set:html={competition.rules} />
        </CreativeBox>
      </div>
    </ContentContainer>
  </Main>
</Layout>
