---
import H1 from "../../../components/H1.astro";
import Layout from "../../../layouts/Layout.astro";
import Main from "../../../components/Main.astro";
import H2 from "../../../components/H2.astro";
import H3 from "../../../components/H3.astro";
import ContentContainer from "../../../components/ContentContainer.astro";
import CompetitionBox from "../../../components/competitions/creative/CompetitionBox.astro";
import Pill from "../../../components/competitions/Pill.astro";
import { fetchCompetitions } from "../../../utils";
import { API_URL } from "../../../utils/runtime-env";

const boxStyles = "sm:mx-auto w-full min-h-[150px] sm:min-h-[200px]";

const competitions = await fetchCompetitions({
  api_url: API_URL,
});
---

<Layout title="The Gathering - Kreative konkurranser">
  <Main>
    <ContentContainer>
      <H1 text="Kreative konkurranser" />
      <div
        class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4"
      >
        <div class="sm:col-start-1 sm:col-span-2 sm:row-span-1">
          <section class="mb-6 prose prose-strong:text-white text-white pr-8">
            <H2 text="Hvem takler presset best?" />
            <p>
              Test sjansene dine for å vinne flotte premier i konkurranser innen
              musikk, video, grafikk og mer!
            </p>
            <H3>Praktisk informasjon</H3>
            <p>
              <Pill text="Vi er i gang!" color="white" class="mr-2" />
              De aller fleste av konkurransene kan du starte med allerede nå. Følg
              på tg.no for endelige regler og detaljer.
            </p>
          </section>
        </div>
        {
          competitions.map((competition) => (
            <CompetitionBox
              {...competition}
              slug={
                competition.rulesSets?.length ? competition.slug : undefined
              }
              class={boxStyles}
            />
          ))
        }
        <CompetitionBox
          name="Improviserte konkurranser"
          class={`${boxStyles} md:col-span-2`}
          prizes={[]}
          category="misc"
          description="I tillegg til de planlagte konkurransene, kan det også dukke opp noen improviserte konkurranser under arrangementet. Følg med på tg.no og under arrangementet."
        />
      </div>
    </ContentContainer>
  </Main>
</Layout>
