---
import Box from "../Box.astro";

interface Props {
  image: string;
}

const { image } = Astro.props;
---

<section class="relative h-[500px]">
  <img
    src={image}
    alt="Crew join Image"
    class="w-full h-full object-cover rounded-3xl"
  />
  <div class="absolute inset-0 flex justify-center items-center">
    <Box
      itemCenter={true}
      title="We are looking for volunteers!"
      titleColor="text-orange-500"
      text="Apply now, for Easter's funnest challenge"
      button={{
        text: "Take the challenge",
        link: "https://wannabe.gathering.org",
        color: "bg-orange-500 self-center",
      }}
      backgroundColor="bg-black bg-opacity-80"
    />
  </div>
</section>

<!-- <section class="relative h-[500px] flex flex-col">
  <img src={image} alt="Hero Image" class="w-full h-full object-cover bgopa" />
  <div class="absolute bottom-4 right-4 flex flex-col space-y-4p-0">
    <Box
      title="Do YOU want to join the crew?"
      button={{
        text: "Apply",
        link: "https://wannabe.gathering.org",
        color: "bg-orange-500 self-center",
      }}
      backgroundColor="bg-black bg-opacity-80"
    />
  </div>
</section> -->
