---
import Box from "../Box.astro";

interface Props {
  autoHeight?: boolean;
}

const { autoHeight = false } = Astro.props;
const heightStyles = autoHeight ? "h-full" : "h-[300px]";
---

<section class={`relative ${heightStyles}`}>
  <img
    src="https://www.tg.no/media/images/TG-artikler.max-1600x1600.png"
    srcset="https://www.tg.no/media/images/TG-artikler.max-1600x1600.png 500w, https://www.tg.no/media/images/TG-artikler.max-3200x3200.png 1000w"
    alt='Bilde av "Community village" fra TG 23, prototypen på Expo-området vårt'
    class="w-full h-full object-cover rounded-3xl"
  />
  <div
    class="absolute inset-0 flex justify-center items-start sm:items-center sm:p-4"
  >
    <Box
      itemCenter={true}
      title="Lyst til å stille ut?"
      titleColor="text-orange-500"
      text="Er du klar for å nå tusenvis av teknologi- og gaming-entusiaster på Norges største LAN-party?"
      button={{
        text: "Les hvordan",
        link: "/about/expo",
        color: "bg-orange-500 self-center",
      }}
      backgroundColor="bg-black bg-opacity-90"
    />
  </div>
</section>
