---
import "leaflet/dist/leaflet.css";
import TgMap from "../../components/map/TgMap.astro";
import type { MapItem } from "../../types";
import Layout from "../../layouts/Layout.astro";
import TgMapNavItem from "../../components/map/TgMapNavItem.astro";
import H3 from "../../components/H3.astro";
import { LOCATIONS, TYPE_COLORS } from "../../configs/map";

const isItemOfTypes = (item: MapItem, types: string | string[]) =>
  (Array.isArray(types) ? types : [types]).includes(
    item.presentation?.type || "",
  );

function getIsItemOfTypes(types: string | string[]) {
  return (item: MapItem) => isItemOfTypes(item, types);
}

const sortByName = (a: MapItem, b: MapItem) => a.name.localeCompare(b.name);
const sortByType = (a: MapItem, b: MapItem) => {
  return (a.presentation?.type || "unknown").localeCompare(
    b.presentation?.type || "unknown",
  );
};

const showInMenus = (item: MapItem) => item.presentation?.showInNavigation;

const nav = [
  {
    title: "Scener",
    items: LOCATIONS.filter(showInMenus)
      .filter(getIsItemOfTypes("stage"))
      .sort(sortByName),
  },
  {
    title: "Praktisk",
    items: LOCATIONS.filter(showInMenus)
      .filter(getIsItemOfTypes(["attraction", "hygiene"]))
      .sort(sortByName)
      .sort(sortByType),
  },
  {
    title: "Utstillere",
    items: LOCATIONS.filter(getIsItemOfTypes(["stand", "food"]))
      .sort(sortByName)
      .sort(sortByType),
  },
].filter(({ items }) => items.length > 0);
---

<Layout title="The Gathering - Hallkart" footerVariant="hidden">
  <TgMap
    locations={LOCATIONS}
    class="fixed bg-black top-32 right-0 bottom-0 left-0 z-[10]"
  >
    <Fragment slot="nav">
      {
        nav.map(({ title, items }) => (
          <>
            <H3 class="mb-4">{title}</H3>
            <ul class="flex flex-row flex-wrap text-md font-bold text-white gap-2 mb-6">
              {items.map((item) => (
                <li>
                  <TgMapNavItem
                    mapItem={item}
                    color={TYPE_COLORS[item.presentation?.type || "unknown"]}
                  />
                </li>
              ))}
            </ul>
          </>
        ))
      }
    </Fragment>
  </TgMap>
</Layout>
