---
import "leaflet/dist/leaflet.css";
import { calculateRow } from "../../utils";
import TgMap from "../../components/map/TgMap.astro";
import type { MapItem, PartialMapItem } from "../../types";
import Layout from "../../layouts/Layout.astro";
import TgMapNavItem from "../../components/map/TgMapNavItem.astro";
import H3 from "../../components/H3.astro";

type MapItemBase = Pick<PartialMapItem, "icon" | "name"> &
  Partial<Omit<PartialMapItem, "icon" | "name">>;

type LocationMap = Record<string, MapItemBase>;

const STANDS: LocationMap = {
  kia: {
    icon: "/tg25/sponsors/kia_white.svg",
    name: "Kia",
    presentation: {
      type: "stand",
    },
  },
  kandu: {
    icon: "/tg25/sponsors/kandu.svg",
    name: "KANDU",
    presentation: {
      type: "stand",
    },
  },
  nexthop: {
    icon: "/tg25/sponsors/nexthop.svg",
    name: "NextHop",
    presentation: {
      type: "stand",
    },
  },
  riot: {
    icon: "/tg25/sponsors/riot_white.svg",
    name: "Riot Games",
    presentation: {
      type: "stand",
    },
  },
  nlogic: {
    icon: "/tg25/sponsors/nlogic.svg",
    name: "nLogic",
    presentation: {
      type: "stand",
    },
  },
  telenor: {
    icon: "/tg25/sponsors/telenor.svg",
    name: "Telenor",
    presentation: {
      type: "stand",
    },
  },
};

const FOOD: LocationMap = {
  lorem: {
    icon: "/tg25/food/lorem.svg",
    name: "Lorem",
    presentation: {
      type: "unknown",
      interactive: false,
    },
  },
};

const STAGES: LocationMap = {
  mainStage: {
    icon: "https://www.tg.no/tg25/tg25_square_white.svg",
    name: "Hovedscenen",
    presentation: {
      type: "stage",
      calendarQuery: ["hovedscenen"],
      padding: 40,
    },
  },
  creativiaStage: {
    icon: "https://www.tg.no/tg25/tg25_square_white.svg",
    name: "Kreativiascenen",
    presentation: {
      type: "stage",
      calendarQuery: ["kreativiascenen"],
      padding: 40,
    },
  },
};

const LOCATIONS: MapItem[] = [
  ...calculateRow([
    {
      ...STANDS.kia,
      width: 47.3,
      height: 47.3,
      pos: [776.3, 1494.3],
    },
    {
      ...STANDS.kandu,
      width: 94.6,
      height: 47.3,
    },
    {
      ...STANDS.nexthop,
      width: 94.6,
      height: 47.3,
    },
  ]),
  ...calculateRow([
    {
      ...STANDS.riot,
      width: 94.6,
      height: 47.3,
      pos: [776.3, 1447.3],
    },
    {
      ...STANDS.nlogic,
      width: 94.6,
      height: 47.3,
    },
    {
      ...STANDS.telenor,
      width: 47.3,
      height: 47.3,
    },
  ]),
  {
    ...STAGES.mainStage,
    width: 280,
    height: 350,
    pos: [1300, 1390],
  },
  {
    ...STAGES.creativiaStage,
    width: 140,
    height: 170,
    pos: [2070, 1630],
  },
];

const usedLocations = LOCATIONS.map(({ name }) => name);
const nav = [
  {
    title: "Utstillere",
    items: Object.values(STANDS).filter(({ name }) =>
      usedLocations.includes(name),
    ),
  },
  {
    title: "Mat",
    items: Object.values(FOOD).filter(({ name }) =>
      usedLocations.includes(name),
    ),
  },
  {
    title: "Scener",
    items: Object.values(STAGES).filter(({ name }) =>
      usedLocations.includes(name),
    ),
  },
].filter(({ items }) => items.length > 0);
---

<Layout title="The Gathering - Map" footerVariant="hidden">
  <TgMap locations={LOCATIONS}>
    <Fragment slot="nav">
      {
        nav.map(({ title, items }) => (
          <>
            <H3 class="mb-4">{title}</H3>
            <ul class="flex flex-row flex-wrap text-md font-bold text-white gap-2 mb-6">
              {items.map((item) => (
                <TgMapNavItem mapItem={item} />
              ))}
            </ul>
          </>
        ))
      }
    </Fragment>
  </TgMap>
</Layout>
