---
import Main from '../components/Main.astro';
import Layout from '../layouts/Layout.astro';
---


		<Layout title="The Gathering - About">
			<Main>
				<section class="text-white p-8 rounded-lg">
					<div class="container mx-auto">
						<h1 class="text-3xl font-bold text-center mb-6">What is The Gathering?</h1>
						<p class="text-center mb-4">
							Every Easter, we bring together gaming and technology enthusiasts at Vikingskipet in Hamar, hosting one of the world’s largest festivals that celebrates data, creativity, and gaming culture.
						</p>
						<p class="text-center mb-4">
							The Gathering is a unique blend of gaming, e-sports, vibrant concerts, hacker competitions, cosplay, digital art, and of course, the never-ending search for Arne.
						</p>
						<p class="text-center mb-6">
							This is The Gathering – where enthusiasm and passion for everything digital meet in an explosion of creativity. Welcome to the world’s largest Easter cabin.
						</p>
					</div>
				</section>
			</Main>
		</Layout>