---
import Main from '../components/Main.astro';
import Faqmd from '../posts/faq.md';
import Layout from '../layouts/Layout.astro';

---


		<Layout title="The Gathering - FAQ">
			<Main>
				<div class="text-white">
					<Faqmd />
				</div>
			</Main>
		</Layout>
		