---
import Layout from "../layouts/Layout.astro";
import Main from "../components/Main.astro";
import NewsComp from "../components/frontpage/NewsComp.astro";
import InfoBox from "../components/frontpage/InfoBox.astro";
import FactBox from "../components/frontpage/FactBox.astro";
import Button from "../components/Button.astro";
import TicketsHero from "../components/frontpage/TicketsHero.astro";
import Countdown from "../components/Countdown.astro";

const TG_THEMES = {
  "2000": "The Gathering 1900 - Follow the Flow",
  "2001": "A Cyberspace Odyssey",
  "2003": "The Gathering: Reloaded",
  "2004": "Rescue of Fractalus",
  "2005": "We Are The Robots",
  "2006": "The Dark Side of Pluto",
  "2007": "Still Puzzled?",
  "2008": "Optimus Prime",
  "2009": "Fire and Ice",
  "2010": "Submerged",
  "2011": "Partly Cloudy with a Chance of Lightning",
  "2012": "At the End of the Universe",
  "2013": "Singularity",
  "2014": "Transylvania",
  "2015": "The Future is Back",
  "2016": "Switched On",
  "2017": "#Secrets",
  "2018": "Social Reality",
  "2019": "Eve",
  "2023": "Gaia",
  "2024": "Generations",
};
const TG_FACTS = [
  "Første The Gathering ble arrangert 1992 i Skedsmohallen, Lillestrøm",
  "TG har blitt arrangert i Vikingskipet siden 1996",
  "Community Village ble introdusert i 2023, og er forløperen til årets Expo område",
  "Første The Gathering ble (blant annet) arrangert av demogruppen Crusaders",
];

const years = Object.keys(TG_THEMES);
const randomYear = years[
  Math.floor(Math.random() * years.length)
] as keyof typeof TG_THEMES;
const randomTheme = TG_THEMES[randomYear] || TG_THEMES["2019"];
const randomFact = TG_FACTS[Math.floor(Math.random() * TG_FACTS.length)];
---

<Layout title="The Gathering">
  <Main>
    <div class="grid sm:grid-cols-9 gap-4 gap-y-10 mb-14 w-full">
      <div class="sm:col-span-9">
        <div class="max-w-4xl">
          <h1 class="text-2xl sm:text-6xl text-foreground font-bold">
            FEM UFORGLEMMELIGE DAGER
          </h1>
          <h2 class="text-xl sm:text-4xl text-foreground mb-8">
            I NORGES FETESTE PÅSKEHYTTE!
          </h2>
        </div>
        <TicketsHero class="min-h-75 mb-4" />
        <div
          class="w-full bg-sky-400 md:bg-background-secondary p-4 rounded-3xl flex justify-center content-center items-center gap-2 min-[540px]:gap-10 flex-col min-[540px]:flex-row"
        >
          <Countdown
            targetDate="2026-04-01T09:00:00+02:00"
            confetti
            endMessage="TG26 er i gang!"
          >
            <h2 class="text-xl text-foreground font-bold" slot="pre">
              Dørene åpner
            </h2>
          </Countdown>
        </div>
      </div>
      <div class="sm:col-start-2 sm:col-span-7">
        <h2 class="text-2xl sm:text-6xl font-bold text-foreground text-center">
          <a
            href="news"
            class="hover:text-orange-500 active:text-orange-500 focus:text-orange-500"
          >
            Aktuelt
          </a>
        </h2>
      </div>
      <div class="sm:col-span-9">
        <NewsComp />
      </div>
      <div class="sm:col-start-2 sm:col-span-7">
        <h2 class="text-2xl sm:text-6xl font-bold text-foreground text-center">
          OM THE GATHERING
        </h2>
      </div>
      <div class="sm:col-start-2 sm:col-span-7 grid gap-2 sm:grid-cols-3">
        <div class="sm:col-span-2">
          <InfoBox image="/images/tg23-oversikt.jpg">
            <h2 class="mb-2 font-bold text-2xl md:text-4xl">
              Norges største påskehytte
            </h2>
            <p>
              Hver påske samler vi spill- og teknologientusiaster i Vikingskipet
              i Hamar, på en av verdens største festivaler som feirer data,
              kreativitet og spillkultur.
            </p>
            <Button href="/about" theme="orange" class="mt-4"> Les mer </Button>
          </InfoBox>
        </div>
        <div class="sm:col-span-1">
          <FactBox theme="blue">
            <h3 class="text-3xl font-bold">Visste du at?</h3>
            <p>
              {randomFact}
            </p>
          </FactBox>
        </div>
        <div class="sm:col-span-2 sm:order-last">
          <InfoBox image="/images/tg25-crew.jpg">
            <h2 class="mb-2 font-bold text-2xl md:text-4xl">
              Vi søker frivillige!
            </h2>
            <p>
              Arrangementet er helt avhengig av frivillige for å kunne
              gjennomføres. Bli med på laget og få en opplevelse for livet.
            </p>
            <Button href="https://wannabe.tg.no" theme="orange" class="mt-4">
              Ta utfordringen!</Button
            >
          </InfoBox>
        </div>
        <div class="sm:col-span-1">
          <FactBox theme="orange">
            <p class="text-3xl font-bold">
              {randomTheme}
            </p>
            <p>var temaet for TG {randomYear}</p>
          </FactBox>
        </div>
      </div>
      <div class="sm:col-start-2 sm:col-span-7">
        <h2 class="text-2xl sm:text-6xl font-bold text-foreground text-center">
          Gå på oppdagelsesferd
        </h2>
      </div>
      <div class="sm:col-start-2 sm:col-span-7 grid sm:grid-cols-4 gap-2">
        <Button
          href="https://archive.tg.no/all/*/https://www.tg.no/"
          class="w-full"
          theme="white"
          variant="standalone">TG.no arkivet</Button
        >
        <Button
          href="https://archive.gathering.org"
          class="w-full"
          theme="white"
          variant="standalone">Gathering.org arkivet</Button
        >
        <Button
          href="https://tech.gathering.org"
          class="w-full"
          theme="white"
          variant="standalone">Tech-bloggen</Button
        >
        <Button
          href="https://ftp.gathering.org/"
          class="w-full"
          theme="white"
          variant="standalone">FTPen</Button
        >
      </div>
    </div>
  </Main>
</Layout>
