---
import H1 from "../components/H1.astro";
import Layout from "../layouts/Layout.astro";
import Main from "../components/Main.astro";
import NewsComp from "../components/sections/NewsComp.astro";
import AboutComp from "../components/sections/AboutComp.astro";
import CrewDescriptionComp from "../components/sections/CrewDescriptionComp.astro";
import CrewJoinComp from "../components/sections/CrewJoinComp.astro";
import TechBlogComp from "../components/sections/TechBlogComp.astro";
import TicketsComp from "../components/sections/TicketsComp.astro";
---

<Layout title="The Gathering">
  <Main>
    <div class="max-w-4xl">
      <H1 text="BLI MED I NORGES STØRSTE PÅSKEHYTTE" />
    </div>
    <div class="grid sm:grid-cols-5 gap-4 w-full">
      <div class="sm:col-start-4 sm:col-span-2 sm:row-start-1">
        <TicketsComp />
      </div>
      <div
        class="sm:col-start-1 sm:col-span-3 sm:row-start-1 sm:row-span-2 flex"
      >
        <AboutComp />
      </div>
      <div class="sm:col-start-4 sm:col-span-2 sm:row-start-2">
        <CrewJoinComp image="/images/tg23-oversikt.jpg" />
      </div>
      <div class="sm:col-span-5">
        <NewsComp />
      </div>
      <div class="sm:col-span-2">
        <CrewDescriptionComp image="/images/tg19-lights.jpg" />
      </div>
      <div class="sm:col-span-3">
        <TechBlogComp image="/images/tg23-crew.jpg" />
      </div>
    </div>
  </Main>
</Layout>
