---
import ArrowSymbol from "../icons/ArrowSymbol.astro";

interface Props {
  startExpanded?: boolean;
  toggleVariant?: "header" | "footer";
}

const { startExpanded = false, toggleVariant } = Astro.props;
---

<script>
  class Collapsible extends HTMLElement {
    open = false;
    triggers: HTMLElement[] = [];
    collapsible: HTMLElement | null = null;

    toggle(open?: boolean) {
      // Close siblings if needed (accordion behavior)
      if (!this.open) {
        const siblings = Array.from(
          this.parentElement?.querySelectorAll("tg-collapsible") || [],
        ).filter((el) => el !== this);
        siblings.forEach((s) => {
          const collapsibleEl = s as unknown as Collapsible;
          if (collapsibleEl.open) collapsibleEl.toggle(false);
        });
      }

      this.open = typeof open !== "undefined" ? open : !this.open;

      this.triggers.forEach((trigger) => {
        const icon = trigger.querySelector("svg");
        if (icon) icon.classList.toggle("rotate-180", this.open);
      });

      if (this.collapsible) {
        this.collapsible.classList.toggle("hidden", !this.open);
      }
    }

    connectedCallback() {
      this.open = this.getAttribute("data-start-expanded") === "true";
      this.triggers = Array.from(
        this.querySelectorAll("[data-part=collapsible-trigger]"),
      );
      this.collapsible = this.querySelector("[data-part=collapsible]");

      if (!this.collapsible) return;
      if (!this.triggers.length) {
        this.toggle(true);
        return;
      }

      this.triggers.forEach((trigger) =>
        trigger.addEventListener("click", () => this.toggle()),
      );

      this.toggle(this.open);
    }
  }

  customElements.define("tg-collapsible", Collapsible);
</script>

<tg-collapsible
  data-start-expanded={startExpanded}
  class="block mb-6 bg-background-secondary rounded-xl p-4"
>
  <aside class="flex justify-between items-center mb-2">
    <slot name="header" />
    {
      toggleVariant === "header" && (
        <button
          data-part="collapsible-trigger"
          aria-expanded={startExpanded}
          class="text-white p-2 rounded-md hover:bg-background-secondary transition flex items-center"
        >
          <ArrowSymbol class="w-6 h-6 transition-transform duration-300" />
        </button>
      )
    }
  </aside>

  <section
    data-part="collapsible"
    class={`${startExpanded ? "" : "hidden"} mt-2`}
  >
    <slot />
  </section>

  <aside class="flex justify-between items-center mt-2">
    <slot name="footer" />
    {
      toggleVariant === "footer" && (
        <button
          data-part="collapsible-trigger"
          aria-expanded={startExpanded}
          class="text-white p-2 rounded-md hover:bg-background-secondary transition flex items-center"
        >
          Les mer
        </button>
      )
    }
  </aside>
</tg-collapsible>
