---
import H3 from "../H3.astro";
---

<div class="prose prose-headings:text-black text-black">
  <H3>Hvordan fungerer køsystemet?</H3>
  <p>
    For å sikre en rettferdig billettsalgsprosess har vi valgt å gjeninnføre
    køsystemet basert på tilbakemeldinger fra tidligere deltakere. Her er
    hvordan det fungerer:
  </p>
  <ul>
    <li>
      <strong>Påmelding til køen:</strong> Registrer deg innen søndag 3. november
      for å få en tildelt plass i køen.
    </li>
    <li>
      <strong>Tildeling av kønummer:</strong> Mandag 4. november får du et tilfeldig
      kønummer, som du mottar via SMS og e-post.
    </li>
    <li>
      <strong>Billettsalget åpner:</strong> 4. november kl. 12.00 starter billettsalget
      og når det er din tur, får du en SMS og 72 timer på å kjøpe billetter. (du
      kan fortsatt stille deg i kø, men du blir plassert bakerst)
    </li>
  </ul>
</div>
