---
import H3 from "../H3.astro";

export interface Props {
  cta?: {
    url: string;
    text: string;
  };
}

const { cta } = Astro.props;
---

<div class="prose prose-headings:text-black text-black">
  <H3>Kølotteri</H3>
  <p>
    The Gathering 2026 billettsalget gjøres uten kølotteri. Det betyr at du kan
    sikre deg en billett allerede 1. desember, 2025. Kjøpte billetter kan ikke
    avbestilles etter kjøp.
  </p>
  <H3 class="mt-4">Andre billettyper?</H3>

  <p>
    Flere billetter og produkter vil bli tilgjengelig etter den 1. desember.
  </p>
  <H3 class="mt-4">Hvordan kan jeg reservere sitteplass?</H3>
  <p>
    Info om plassreservasjon legges ut på et senere tidspunkt. For info om
    hvordan vi har gjort det tidligere år ta en titt på <a
      href="/news/plassreservasjon-åpner-26-mars"
      >denne artikkelen om plassreservasjon til TG25.</a
    >
  </p>
</div>
<aside>
  {
    !!cta ? (
      <a
        class="block px-4 py-2 rounded-full content-center text-decoration-none text-center mt-4 bg-foreground border border-foreground text-foreground-contrast hover:bg-foreground/70 hover:text-foreground-contrast"
        href={cta.url}
      >
        {cta.text}
      </a>
    ) : null
  }
</aside>
