---
import H3 from "../H3.astro";

export interface Props {
  cta?: {
    url: string;
    text: string;
  };
}

const { cta } = Astro.props;
---

<div class="prose prose-headings:text-black text-black">
  <H3>Kølotteri</H3>
  <p>
    The Gathering 2026 billettsalget gjøres uten kølotteri. Det betyr at du kan
    sikre deg en billett allerede 1. desember, 2025. Kjøpte billetter kan ikke
    avbestilles etter kjøp.
  </p>
  <H3 class="mt-4">Andre billettyper?</H3>

  <p>
    Flere billetter og produkter vil bli tilgjengelig etter den 1. desember.
  </p>
  <H3 class="mt-4">Hvordan kan jeg reservere sitteplass?</H3>
  <p>
    For å sikre rettferdig valg av sitteplasser lar vi de største gruppene velge
    sitteplass først. Datoene din gruppe kan velge sitteplasser i GeekEvents er
    som følger:
  </p>
  <ul>
    <li><span>12. Mars, 18:00</span> - Grupper med 20 eller flere billetter</li>
    <li><span>13. Mars, 18:00</span> - Grupper med 10 eller flere billetter</li>
    <li><span>14. Mars, 18:00</span> - Grupper med 5 eller flere billetter</li>
    <li><span>15. Mars, 18:00</span> - Grupper med 1 eller flere billetter</li>
    <li>
      <span>29. Mars, 18:00</span> - Siste frist for å reservere sitteplasser
    </li>
  </ul>
</div>
<aside>
  {
    !!cta ? (
      <a
        class="block px-4 py-2 rounded-full content-center text-decoration-none text-center mt-4 bg-white border border-white text-black hover:bg-white/70 hover:text-black"
        href={cta.url}
      >
        {cta.text}
      </a>
    ) : null
  }
</aside>
