---
import Box from "../Box.astro";

interface Props {
  image: string;
}

const { image } = Astro.props;
---

<section class="relative h-[300px] sm:h-[500px]">
  <img
    src={image}
    alt="Crew beskrivelse bilde"
    class="w-full h-full object-cover rounded-3xl"
  />
  <div class="absolute inset-0 flex justify-center items-center sm:p-4">
    <Box
      itemCenter={true}
      title="Hvem styrer scenelysene?"
      titleColor="text-sky-400"
      textColor="text-white"
      text="...i år kan det være deg"
      button={{
        text: "Ta en titt på årets crewbeskrivelser",
        textcolor: "text-white",
        link: "https://wannabe.tg.no/tg26/crew",
        color: "bg-sky-400 self-center",
      }}
      backgroundColor="bg-black bg-opacity-90"
    />
  </div>
</section>
