---
import { YouTube } from "astro-lazy-youtube-embed";
import Hero from "./Hero.astro";
import Button from "../Button.astro";

interface Props {
  class?: string;
}

const { class: classNames } = Astro.props;
---

<Hero image="/images/tg19-lights.jpg" class={classNames}>
  <YouTube
    class="rounded-3xl"
    title="TG25: 10 Days Timelapse"
    videoId="0X1YK1iQvIM"
    allow="autoplay"
    embedParams={{
      autoplay: 1,
      playslinline: 1,
      rel: 0,
      // @ts-ignore
      mute: 1,
    }}
    slot="overlay"
  />
  <div class="flex flex-col text-left">
    <div class="w-full">
      <h2 class="text-lg font-normal">
        Vil du være med på å skape magien, møte likesinnede og samtidig få
        uforglemmelige opplevelser?
      </h2>
      <p class="text-4xl font-bold">Søk deg inn som frivillig!</p>
    </div>
    <aside class="mt-6 space-x-2">
      <Button href="https://wannabe.tg.no" theme="orange">Søk crew</Button>
      <Button href="/news/wannabe-er-åpnet" theme="secondary">Mer info</Button>
    </aside>
  </div>
  <!-- <Fragment slot="cta">
    <p class="text-white">Lyst til å stille ut?</p>
    <Button href="/about/expo" theme="secondary">Les hvordan</Button>
  </Fragment> -->
</Hero>
