---
interface Props {
  theme?: "orange" | "blue";
}

const { theme = "orange" } = Astro.props;
const colorStyles = {
  orange: "bg-orange-500 text-white",
  blue: "bg-sky-600 text-white",
}[theme || "orange"];
---

<div
  class={`p-4 rounded-3xl flex flex-col justify-end sm:p-6 sm:h-full sm:m-auto sm:rounded-2xl ${colorStyles}`}
>
  <slot />
</div>
