---
interface Props {
  image: string;
  class?: string;
}

const { class: classNames, image } = Astro.props;
const hideMobileImage = Astro.slots.has("overlay");
---

<section
  class={`relative rounded-3xl sm:grid sm:grid-cols-5 gap-4 sm:p-4 space-y-4 sm:space-y-0 ${classNames}`}
>
  <img
    src={image}
    alt="Hero Image"
    class={`${hideMobileImage ? "hidden" : ""} sm:block sm:absolute sm:left-0 sm:top-0 w-full sm:h-full object-cover rounded-3xl sm:z-0`}
  />
  {
    hideMobileImage ? (
      <div class="z-10 relative rounded-3xl flex flex-col col-span-3">
        <slot name="overlay" />
      </div>
    ) : null
  }

  <div class="z-10 relative flex flex-col justify-end col-span-2 space-y-4">
    <div
      class="w-full bg-blue-600 text-white p-4 rounded-3xl flex flex-col space-y-2 sm:rounded-2xl"
    >
      <slot />
    </div>
    <div
      class="w-full bg-orange-600 text-white p-4 rounded-3xl flex flex-col space-y-2 sm:rounded-2xl"
    >
      <div class="flex space-x-2 items-center justify-between">
        <slot name="cta" />
      </div>
    </div>
  </div>
</section>
