---
import Hero from "./Hero.astro";
import Button from "../Button.astro";

interface Props {
  class?: string;
}

const { class: classNames } = Astro.props;
---

<Hero image="/images/live.jpg" class={classNames}>
  <div class="flex flex-col text-left">
    <div class="w-full">
      <h2 class="text-xl font-bold">Søk deg inn som frivillig!</h2>
      <p class="text-lg">
        Vil du være med på å skape magien, møte likesinnede og samtidig få
        uforglemmelige opplevelser?
      </p>
    </div>
  </div>
</Hero>
