---
import Hero from "./Hero.astro";
import Button from "../Button.astro";

interface Props {
  class?: string;
}

const { class: classNames } = Astro.props;
---

<Hero
  image="/images/blurry-lights.jpg"
  backgroundVideo="/tg26/preview_video.webm"
  fullVideoHref="https://www.youtube.com/watch?v=mtDVFcYip8A"
  fullVideoText="Se TG26 teaseren på YouTube"
  class={classNames}
>
  <div class="flex flex-col text-left">
    <div class="w-full">
      <h2 class="text-lg font-normal">Billettsalget har åpnet</h2>
      <p class="text-4xl font-bold">Sikre deg din billett i dag!</p>
    </div>
    <aside class="mt-6 space-x-2">
      <Button href="https://www.geekevents.org/tg26/#/shop" theme="white">
        Kjøp billett på Geekevents</Button
      >
    </aside>
  </div>
</Hero>
