---
import Button from "../Button.astro";

interface Props {
  class?: string;
}

const { class: classNames } = Astro.props;
---

<div class={classNames}>
  <div
    class="bg-white flex flex-col sm:flex-row p-4 justify-center items-center rounded-3xl md:p-6 gap-4 md:h-full md:m-auto md:rounded-2xl relative`"
  >
    <p class="m-0 p-0">Se livesendingene våre</p>
    <Button href="https://www.twitch.tv/tgtv" theme="orange" variant="wide"
      >TGVTV</Button
    >
    <Button href="https://www.twitch.tv/tgtvgame" theme="orange" variant="wide"
      >TGVTV Game</Button
    >
    <Button
      href="https://www.twitch.tv/tgtvcreative"
      theme="orange"
      variant="wide">TGVTV Creative</Button
    >
  </div>
</div>
