---
import Main from "../../components/Main.astro";
import NewsComp from "../../components/NewsComp.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="The Gathering - News">
  <Main>
    <NewsComp limit={20} offset={0} />
  </Main>
</Layout>
