---
import BrandSnapchat from "./icons/BrandSnapchat.astro";
import BrandDiscord from "./icons/BrandDiscord.astro";
import BrandFacebook from "./icons/BrandFacebook.astro";
import BrandTwitter from "./icons/BrandTwitter.astro";
import BrandInstagram from "./icons/BrandInstagram.astro";
import BrandTwitch from "./icons/BrandTwitch.astro";
import BrandYoutube from "./icons/BrandYoutube.astro";
import BrandTiktok from "./icons/BrandTiktok.astro";
---

<footer
  class="flex flex-col gap-6 items-center mx-auto sm:flex-col sm:items-start max-w-7xl px-5 py-5 w-full"
>
  <div class="sm:flex gap-6 grid">
    <div>
      <a href="/" class="flex items-center mb-4">
        <img
          src="/images/tglogo-color.png"
          alt="The Gathering logo"
          width={150}
          class="aspect-thumbnail object-cover min-w-full"
        />
      </a>
      <div class="flex flex-row gap-2 justify-center p-2">
        <a href="https://www.facebook.com/gatheringorg">
          <BrandFacebook />
        </a>
        <a href="https://twitter.com/gatheringorg">
          <BrandTwitter />
        </a>
        <a href="https://discord.gg/gathering">
          <BrandDiscord />
        </a>
        <a href="https://www.instagram.com/gatheringorg">
          <BrandInstagram />
        </a>
        <a href="https://www.snapchat.com/add/gatheringorg">
          <BrandSnapchat />
        </a>
        <a href="https://www.twitch.tv/team/thegathering">
          <BrandTwitch />
        </a>
        <a href="https://www.youtube.com/@gatheringorg">
          <BrandYoutube />
        </a>
        <a href="https://www.tiktok.com/@gatheringorg">
          <BrandTiktok />
        </a>
      </div>
    </div>
    <div class="sm:flex sm:gap-10">
      <ul
        class="text-white size flex flex-col gap-2 items-center sm:items-start sm:grid sm:grid-cols-2 sm:gap-x-4"
      >
        <li>
          <a href="https://support.gathering.org/help/no-no" class="">FAQ</a>
        </li>
        <li><a href="https://archive.gathering.org/" class="">Arkiv</a></li>
        <li><a href="https://tech.gathering.org/" class="">Tech-bloggen</a></li>
        <li><a href="/contact" class="">Kontakt oss</a></li>
        <li>
          <a href="/tickets/terms-and-conditions" class="">Billettvilkår</a>
        </li>
        <li>
          <a href="/event/rules" class="">Arrangementsregler</a>
        </li>
        <li>
          <a href="/event/construction-rules" class="">Konstruksjonsregler</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="flex justify-center w-full">
    <ul
      class="text-white text-sm flex flex-col sm:flex-row gap-2 items-center sm:items-start"
    >
      <li>The Gathering 2025 - <a href="https://www.kandu.no/">KANDU</a></li>
    </ul>
  </div>
</footer>
