---
type Props = {
  color?:
    | "text-foreground"
    | "text-foreground-contrast"
    | "text-white"
    | "text-black"
    | "";
  class?: string;
};
const { color = "text-foreground", class: classNames = "" } = Astro.props;
---

<h3 class=`text-2xl ${color} font-bold mb-2 ${classNames}`><slot /></h3>
