---
import { getCachedNavigationItems } from "../utils/navigation-cache";
import HeaderNavigation from "./HeaderNavigation.astro";
import CloseSymbol from "./icons/CloseSymbol.astro";
import HamburgerSymbol from "./icons/HamburgerSymbol.astro";
import ToggleTheme from "./ToggleTheme.astro";

const navigationItems = await getCachedNavigationItems(import.meta.env.API_URL);
---

<script>
  const mobileMenu = document.querySelector(
    "[data-component='header'] [data-part='mobile-menu']",
  );
  const mobileMenuButton = document.querySelector(
    "[data-component='header'] [data-part='mobile-menu-trigger']",
  );

  if (mobileMenuButton && mobileMenu) {
    mobileMenuButton.addEventListener("click", () => {
      const expanded =
        mobileMenuButton.getAttribute("aria-expanded") === "true" || false;

      mobileMenuButton.setAttribute("aria-expanded", String(!expanded));
      mobileMenu.classList.toggle("hidden", expanded);

      const icons = mobileMenuButton.querySelectorAll("svg");
      icons?.[0]?.classList.toggle("hidden", !expanded);
      icons?.[0]?.classList.toggle("block", expanded);
      icons?.[1]?.classList.toggle("hidden", expanded);
      icons?.[1]?.classList.toggle("block", !expanded);
    });
  }
</script>

<header class="sticky top-0 z-40 flex flex-col-reverse" data-component="header">
  <div
    class="flex justify-between items-center py-1 px-5 max-w-7xl mb-8 justify-self-center w-full mx-auto bg-background-secondary sm:rounded-xl sm:mx-5 sm:mt-2 sm:mb-8 sm:w-auto xl:mx-auto xl:w-full shadow-2xl shadow-black"
  >
    <nav class="w-full">
      <div class="relative h-20 flex items-center justify-between">
        <a href="/" class="sm:flex gap-x-4 items-center hidden w-max">
          <img
            src="/tg26/tg26_horizontal.svg"
            alt="The Gathering logo"
            width={130}
            class="aspect-thumbnail object-cover"
          />
        </a>
        <a href="/" class="flex gap-x-4 -ml-1 items-center sm:hidden">
          <img
            src="/tg26/tg26_horizontal.svg"
            alt="The Gathering logo"
            width={120}
            class="aspect-thumbnail object-cover"
          />
        </a>

        <HeaderNavigation
          navigationItems={navigationItems}
          class="hidden sm:flex w-full space-x-6 space-y-0 justify-end"
          prioritized
        />
        <div class="flex items-center">
          <button
            type="button"
            data-part="mobile-menu-trigger"
            class="relative inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-700 hover:text-foreground focus:outline-none focus:ring-2 focus:ring-inset focus:ring-foreground"
            aria-controls="mobile-menu"
            aria-expanded="false"
          >
            <span class="absolute -inset-0.5"></span>
            <span class="sr-only">Open main menu</span>
            <HamburgerSymbol />
            <CloseSymbol class="hidden" />
          </button>
        </div>
      </div>
      <!-- Mobile menu, show/hide based on menu state. -->
      <div class="hidden" id="mobile-menu" data-part="mobile-menu">
        <HeaderNavigation
          navigationItems={navigationItems}
          class="space-y-3 px-2 pb-3 pt-2 flex flex-col"
          hamburger
        />
      </div>
    </nav>
  </div>
  <aside data-part="info-banner">
    <span
      class="flex w-full text-foreground justify-end py-2 px-5 max-w-7xl justify-self-center mx-auto gap-x-3 xl:px-0"
    >
      <span>🗓 1. - 5. april <span class="max-sm:hidden"> 2026</span></span>
      <a href="https://maps.app.goo.gl/RN5QTjwpLDaWiswh8" target="_blank"
        >🌍 Vikingskipet<span class="max-sm:hidden">, Hamar</span></a
      >
      <ToggleTheme />
    </span>
  </aside>

  <script>
    const infoBanner = document.querySelector("[data-part='info-banner']");
    const headerDiv = document.querySelector("[data-component='header'] div");

    if (infoBanner) window.addEventListener("scroll", handleScroll);
    handleScroll();

    function handleScroll() {
      if (!infoBanner || !headerDiv?.parentElement) return; // safety check / types sanity check
      if (window.scrollY > 100) {
        infoBanner.classList.add("hidden");
        headerDiv.classList.add("sm:rounded-none", "xl:rounded-b-xl");
        headerDiv.classList.remove("sm:rounded-xl", "py-1", "sm:mt-2");
      } else if (window.scrollY <= 40) {
        infoBanner.classList.remove("hidden");
        headerDiv.classList.remove("sm:rounded-none", "xl:rounded-b-xl");
        headerDiv.classList.add("sm:rounded-xl", "py-1", "sm:mt-2");
      }
    }
  </script>
</header>
