---
import Box from './Box.astro';

// Props for the Hero component
interface Props {
  image: string;
}

const { image } = Astro.props;
---

<section class="relative h-[500px] sm:h-[400px] sm:block flex flex-col">
  <img src={image} alt="Hero Image" class="w-full h-full object-cover" />
  <div class="md:absolute md:bottom-4 md:right-4 flex flex-col space-y-4 p-4 md:p-0">
    <Box
      title="Do YOU want to join the crew?"
      button={{ text: "Apply", link: "https://wannabe.gathering.org", color: "bg-orange-500" }}
      backgroundColor="bg-blue-500"
    />
  </div>
</section>

