---
import Box from './Box.astro';

// Props for the Hero component
interface Props {
  image: string;
}

const { image } = Astro.props;
---

<section class="relative h-[500px] sm:h-[400px] sm:block flex flex-col">
  <!-- Hero Image -->
  <img src={image} alt="Hero Image" class="w-full h-full object-cover" />

  <div class="md:absolute md:bottom-4 md:right-4 flex flex-col space-y-4 p-4 md:p-0">
    <!-- Box 1: Title, Date, Button -->
    <Box
      title="Welcome to the Gathering - Reborn"
      date="27. - 31 March"
      button={{ text: "Tickets", link: "#", color: "bg-orange-500" }}
      backgroundColor="bg-blue-500"
    />
    <!-- Box 2: Text, Button -->
    <Box
      text="On Main Stage: Opening Ceremony"
      button={{ text: "Scheduel", link: "#", color: "bg-orange-500", border: true }}
      backgroundColor="bg-orange-500"
    />
  </div>


</section>

