---
import SponsorsContainer from "../components/sponsors/SponsorContainer.astro";
---

<main class="px-5 xl:mx-auto">
  <div class="max-w-7xl">
    <slot />
    <SponsorsContainer />
  </div>
</main>
