<sponsor
  class="flex flex-row flex-wrap justify-center items-center gap-8 p-6 my-4 max-w-7xl mx-auto bg-backgroundSecondary rounded-3xl"
>
  <a href="https://nexthop.no/" target="_blank">
    <img
      src="/tg25/sponsors/nexthop.svg"
      alt="Nexthop"
      width={140}
      class="aspect-thumbnail object-cover"
    />
  </a>
  <a href="https://www.riotgames.com/en" target="_blank">
    <img
      src="/tg25/sponsors/riot_white.svg"
      alt="Riot Games"
      width={120}
      class="aspect-thumbnail object-cover"
    />
  </a>
  <a href="https://www.telenor.com/" target="_blank">
    <img
      src="/tg25/sponsors/telenor.svg"
      alt="telenor"
      width={125}
      class="aspect-thumbnail object-cover"
    />
  </a>
  <a href="https://www.nlogic.no/" target="_blank">
    <img
      src="/tg25/sponsors/nlogic.svg"
      alt="nlogic"
      width={130}
      class="aspect-thumbnail object-cover"
    />
  </a>
  <a href="https://www.globalfiber.no/" target="_blank">
    <img
      src="/tg25/sponsors/globalfiber.svg"
      alt="globalfiber"
      width={130}
      class="aspect-thumbnail object-cover"
    />
  </a>
  <a href="https://www.arista.com/" target="_blank">
    <img
      src="/tg25/sponsors/arista.svg"
      alt="arista"
      width={130}
      class="aspect-thumbnail object-cover"
    />
  </a>
  <a href="https://www.paloaltonetworks.com/" target="_blank">
    <img
      src="/tg25/sponsors/palo-alto.svg"
      alt="paloalto"
      width={130}
      class="aspect-thumbnail object-cover"
    />
  </a>
  <a href="https://www.kia.no/" target="_blank">
    <img
      src="/tg25/sponsors/kia_white.svg"
      alt="KIA"
      width={120}
      class="aspect-thumbnail object-cover"
    />
  </a>
  <a href="https://www.kandu.no/" target="_blank">
    <img
      src="/tg25/sponsors/kandu.svg"
      alt="KANDU"
      width={135}
      class="aspect-thumbnail object-cover"
    />
  </a>
</sponsor>
