<sponsor
  class="flex my-4 py-5 px-2 md:px-5 max-sm:py-10 max-w-7xl justify-center gap-6 w-full mx-auto bg-backgroundSecondary rounded-3xl"
>
  <a href="https://nexthop.no/" target="_blank">
    <img
      src="/tg25/sponsors/nexthop.svg"
      alt="Nexthop"
      width={150}
      class="aspect-thumbnail object-cover"
    />
  </a>
  <a href="https://www.kandu.no/" target="_blank">
    <img
      src="/tg25/sponsors/kandu.svg"
      alt="KANDU"
      width={120}
      class="aspect-thumbnail object-cover"
    />
  </a>
</sponsor>
