---
import type { FaqSnippet } from "../../types";
import H3 from "../H3.astro";

type Props = FaqSnippet & {
  class?: string;
};

const { title, body, class: className } = Astro.props;
---

<section class={`prose p-4 ${className}`}>
  <H3 class="text-4xl font-bold mb-2">{title}</H3>
  <div class="" set:html={body} />
</section>
