---
import type { FaqSnippet } from "../../types";
import FaqCollapsible from "./FaqCollapsible.astro";

type Props = FaqSnippet & { class?: string };

const { title, body, class: className = "" } = Astro.props;
---

<section class={`block ${className}`}>
  <FaqCollapsible class="block bg-background-secondary rounded-xl p-4">
    <div slot="header" class="flex justify-between items-center w-full">
      <h3 class="text-xl text-white">{title}</h3>
    </div>

    <div
      data-part="collapsible"
      class="prose prose-invert mt-8"
      set:html={body}
    />
  </FaqCollapsible>
</section>
