---
import type { MapItem } from "../../types";
import { slugifyMapItemName } from "../../utils/map";

type Props = {
  mapItem: Pick<MapItem, "name" | "slug">;
  color?: string;
};

const getColors = ({ color }: { color?: string }) => {
  return color ? `bg-${color}-500 text-black` : "bg-orange-500 text-black";
};

const { color, mapItem } = Astro.props;
---

<a
  class={`${color ? getColors({ color }) : ""} flex flex-row cursor-pointer items-center gap-2 py-1 px-2 rounded-md text-md hover:bg-white hover:text-background-secondary`}
  data-part="nav-item"
  data-target={mapItem.slug || slugifyMapItemName(mapItem.name)}
>
  {mapItem.name}
</a>
