---
import Header from "../components/Header.astro";
import Sponsors from "../components/Sponsors.astro";
import Footer from "../components/Footer.astro";
interface Props {
  title: string;
  description?: string;
  image?: string;
}

const {
  title,
  description = "We have hosted The Gathering since 1992 and it has always been a hub for young creative people to battle it out in many types of competitions; demo-coding, music, graphics, animation, and gaming.",
  image = "/images/tg.jpg",
} = Astro.props;

const matomoSiteId = import.meta.env.MATOMO_SITE_ID;
const matomoInstanceUrl =
  import.meta.env.MATOMO_INSTANCE_URL || "//matomo.gathering.org/";
---

<!doctype html>
<html lang="no">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta property="og:image" content={image} />

    <title>{title}</title>

    <!-- Matomo -->
    <script is:inline define:vars={{ matomoInstanceUrl, matomoSiteId }}>
      if (!matomoSiteId || !matomoInstanceUrl) {
        // Doing this instead of conditional script tag to avoid (wrong) prettier syntax errors
        return;
      }
      var _paq = (window._paq = window._paq || []);
      /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
      _paq.push(["disableCookies"]);
      _paq.push(["trackPageView"]);
      _paq.push(["enableLinkTracking"]);

      (function () {
        _paq.push(["setTrackerUrl", matomoInstanceUrl + "matomo.php"]);
        _paq.push(["setSiteId", matomoSiteId]);
        var d = document,
          g = d.createElement("script"),
          s = d.getElementsByTagName("script")[0];
        g.async = true;
        g.src = matomoInstanceUrl + "matomo.js";
        if (s.parentNode) {
          s.parentNode.insertBefore(g, s);
        }
      })();
    </script>
    <!-- End Matomo Code -->
  </head>
  <body class="min-h-screen bg-background sm:flex sm:flex-col">
    <Header />
    <slot />
    <Sponsors />
    <Footer />
  </body>
</html>
