---
interface Props {
  filename: string;
  url: string;
  alt: string;
  width: number;
  nudge?: "t" | "b" | "l" | "r";
}

const { filename, url, alt, width, nudge } = Astro.props;
---

<a href={url} target="_blank" class="flex justify-center md:min-w-[160px]">
  <img
    src={`/sponsors/${filename}`}
    alt={alt}
    width={width}
    class={`aspect-thumbnail object-cover ${nudge ? "m" + nudge + "-2" : ""}`}
  />
</a>
